.company {
  /* margin: 30px; */
  width: 30vw; 
  
}

.button {
  margin: 20px;
}

.subtitle {
  display: inline;
}

.billImage {
  width: 400px;
}

/* .profileInfo {

} */

/* .input {
  position: absolute;
} */

/* .loader {
 float: right;
} */